body {
    color:white
}

.jumbotron {
    padding-top: 6rem;
    background-color: #c1a897;
}

.display-4{
    margin-top: 25px;
}

#about {
    color:black;
    min-height: 300px;
    background-color:white;
}

#contact {
    color: black;
    background-color: white;
}
#karya {
    background-color:white;
   
}

#footer {
    background-color: #1D1D1F;
    color:white;
}

#fotoprofil {
    border-style: solid;
    border-color: black;
}
